body{
    font-family:Vedrana;
    font-size:14px;
}

#error {
    background-color:#ff0000;
    color:white; 
    text-align:center;
    width:200px;
    float:left;
}
#header {
    background-color:#338585;
    color:white;
    text-align:center;
    padding:5px;
}
#menu {
    position:left;
    background-color:#FFFF99;
    text-align:left;
    padding-left: 220px;
    padding-bottom: 5px;
    padding-top: 5px;
}
a.hidden {
    visibility: hidden;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:200px;
    float:left;
    padding:5px;
}
#nav_user {
    background-color:#eeeeee;
    height:auto;
    width:200px;
    float:left;
    padding:5px;
}
#section {
    padding-left: 220px;
    display:block; 
    text-align:center;
    padding:10px;
 }
#section_user {
    padding-left: 220px;
    padding-top: 10px;
    //padding:10px;
}
#section_user.hidden {
    visibility: hidden;
}
#section_user_ans {
    padding-left: 220px;
    padding-top: 10px;
    //padding:10px;
}
#section_user_ans.hidden {
    visibility: hidden;
}
#footer {
    background-color:#338585;
    color:white;
    font-size:10px;
    clear:both;
    text-align:center;
    padding:5px;
    bottom:auto;
}
#remain {
    background-color:#ffffff;
    border-style: solid;
    border-color: #338585;
    color:red;
    //float:right;
    position:fixed ;
    text-align:right;
    padding:2px;
}
td.quest {
    background-color:#FFFF99;
    width: 600px;
}  
td.kenter {
    text-align: center;
}

h2 {
    color:red;
}

table.kenter {
    margin-left:auto; 
    margin-right:auto;
}

td {
    padding: 5px;
}